body {
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    font-family: 'Work Sans', sans-serif; /* Optional: Set a default font */
  }
  
  a {
    color: #fff; /* White text */
    text-decoration: none; /* Removes underline */
  }
  
  a:hover {
    text-decoration: underline; /* Adds underline on hover for better UX */
  }
  
  /* Removes default margin and padding */
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  