:root {
  --theme-col: rgb(193,190,255);
  --text-col: #0a0631;
}


body {
    background-color: var(--theme-col); 
    color: var(--text-col); 
    font-family: 'Work Sans', sans-serif; 
  }
  
  a {
    color: #06142E; 
    text-decoration: none; 
  }
  
  a:hover {
    text-decoration: underline; 
  }
  
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  