.navbar {
  display:flex;
  justify-content: space-between;
  font-family: 'Work Sans', sans-serif;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  box-shadow: 0px 4px 12px rgba(90, 47, 107, 0.1);
}

.logo {
  height: 40px;
  font-size: larger;
  font-weight: 800;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 100px;
}

.menuItem {
  margin: 0 15px;
  padding: 10px 20px 10px 20px;
  background-color: #43455B;
  color: #fff;
  font-size:medium;
  border-radius: 30px;
  cursor: pointer;
}
.menuItem:hover{
  background-color:#fff ;
  color: var(--text-col) ;
  /* .activeMenuItem{
    background-color: #43455B;
    color: #fff; 
  } */
}

.notificationBell {
  margin-left: 5px;
}

.profile {
  position: relative;
  display: flex;
  align-items: center;
}

.profileImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #fff;
  color: #43455B;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1000;
}

.dropdown a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #43455B;
  border-bottom: 1px solid #ccc;
}

.dropdown a:last-child {
  border-bottom: none;
}

.dropdown a:hover {
  background-color: #f5f5f5;
}

.activeMenuItem {
  margin: 0 15px;
  padding: 10px 20px 10px 20px;
  background-color: rgb(255, 255, 255);
  color: #000000;
  border-radius: 30px;
  cursor: pointer;
}
.chat{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}