.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
  }
  
  .header, .footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    width: 100%;
  }
  
  .nav, .authButtons, .footerLinks, .socialMedia {
    display: flex;
    justify-content: space-around;
  }
  .getStartedButton {
    color: blue;
    background-color: aqua;
    cursor: pointer;
    border-radius: 10px;
    width: 50%;
    height: 30px;
  }
  
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
  }
  
  .about, .features {
    padding: 20px;
    text-align: center;
  }
  
  .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }