/* CardList.module.css */
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vh;
    height: min-content;
    margin-top: 20px;
    
}

.title{
    background-color: blue;
}
.posts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
}

  