/* Card.module.css */
.container {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    margin-bottom: 50px;
    padding: 10px;
    min-height: 400px;
    width: 100%;
    border-radius: 10px;
    align-items:flex-start;
}
  
.author
{
    flex: 1;
    display: flex;
    flex-direction: row;
    height: 100px;
    gap: 10px;
    
}
.authorImage{
    position: relative;
    height: 40px;
    border-radius: 20px;
}
.authorName{
    font-weight: 600;
    font-size: medium;
    text-align: center;
}

.date{
    margin-top: 1px;
    margin-left: 100px;
}

.authorName,.date{
    color: var(--text-col);
}
.postImage{
    flex: 1;
    width: 300px;
    margin-top: 10px;
    object-fit: cover;
}
.foundButton{
    padding: 10px;
    border: none;   
    border-radius: 10px;
    margin-top: 10px;
    color: black;
    cursor: pointer;
}