.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}
.profile{
    flex: 1;
    background-color: aqua;
    height: 100px;
}
.posts{
    flex: 1;
    height: 100px;
}