.registerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(96, 89, 89, 0.1);
  width: 450px;
  margin-top: 50px;
  text-align: center;
}

.logo {
  text-align: center;
  margin-bottom: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: --text-col;
}

.inputGroup {
  margin-bottom: 15px;
  margin-right: 15px;
  border-radius: 5px;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.textInput,
.emailInput,
.passwordInput {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--theme-col);
  border-radius: 10px;
}

.registerButton {
  width: 100%;
  padding: 10px;
  background-color: #2a82bd;
  color: #fff;
  font-size: medium;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.login {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #2a82bd;
  text-decoration: none;
}
